@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body {
  background-image: url(assets/background.svg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formPost {
  position: relative;
  width: 1000px;
  height: 525px;
  background: rgba(57, 20, 49, 0.61);
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 180px;
  padding: 40px;
  box-sizing: border-box;
}
  
.formPost textarea {
  background-color: transparent;
  width: 500px;
  height: 300px;
  position: absolute;
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  margin-right: 100px;
}
  
.pickImage {
  position: absolute;
  top: 60px;
  right: 40px;
  width: 310px;
  height: 260px;
}
  
#sendPost {
  position: absolute;
  width: 230px;
  height: 70px;
  top: 350px;
  left: 350px;
  border-radius: 20px;
  opacity: 70%;
} 

#sendPost:hover {
  border: 3px solid blueviolet;
}

textarea {
  border: none;
}

textarea:hover {
  cursor: pointer;
  border: 1px solid blueviolet;
}