@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(assets/background.svg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


p {
  position: absolute;
  font-family: 'Bevan';
  font-weight: 400;
  font-size: 20px;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  color: white;
  width: 70%;
}
button#createPost {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 80px;
  width: 400px;
  height: 85px;
  border-radius: 50px;
  background: linear-gradient(90.27deg, rgba(44, 34, 155, 0.64) 0.24%, rgba(34, 28, 96, 0.81) 0.25%, rgba(42, 35, 123, 0.82) 32.79%, rgba(43, 31, 179));
}
button span {
  font-family: 'Bevan';
  font-weight: 400;
  font-size: 20px;
  color: white;
  align-items: center;
  padding: 0 5px;
}